h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: var(--uc-secondary-font-family);
}

.h1-title {
    @include font-size($h1_font_sizes);
    font-weight: 400;
    > span {
        font-weight: bold;
        position: relative;
        display: inline-block;
    }
}

// .h2-title {
//     @include font-size($h2_font_sizes);
// }

// .h3-title {
//     @include font-size($h3_font_sizes);
// }

// .h4-title {
//     @include font-size($h4_font_sizes);
// }

// .h5-title {
//     @include font-size($h5_font_sizes);
// }

// .h6-title {
//     @include font-size($h6_font_sizes);
// }
