@import "variable";

@import "theme_colors";

@import "mixin";

@import "fonts";

@import "typography";

@import "space";

@import "typography";

/*===== Common Start =====*/

:root {
    --uc-primary-color: #{$primary_color};
    --uc-secondary-color: #{$secondary_color};
    --uc-white-light-color: #{$white_light_color};
    --uc-white-light-color2: #{$white_light_color2};
    --uc-white-color: #{$white_color};
    --uc-black-color: #{$black_color};
    --uc-primary-font-family: #{$primary_font};
    --uc-secondary-font-family: #{$secondary_font};
    --uc-noise-img: url("../../assets/images/body-bg.jpg");
    --uc-box-shadow: 0 3px 6px rgba($black_color, 16%);
    --uc-text-shadow: 2px 2px 0 rgba($black_color, 30%);
    --uc-spacing: 100px;
    --uc-spacing-y: 100px;
    --uc-header-height: 100px;
    --uc-spacing-x: clamp(80px, 5.209vw, 100px);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden !important;
}

body {
    margin: 0;
    font-family: var(--uc-primary-font-family);
    background-image: var(--uc-noise-img);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    @include list_reset;
}

.back_img {
    @include back_img();
}

a {
    @include transition;
    color: var(--uc-primary-color);
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

p {
    &:last-child,
    &:last-of-type {
        margin-bottom: 0;
    }
}

/*===== Common End =====*/

/*===== Form Start =====*/

select {
    -moz-appearance: none;
    -webkit-appearance: none;

    &:focus {
        outline: none;
    }
}

.form-control-wrap {
    position: relative;
    width: 100%;
    display: block;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

[class*="col-"]:not(:last-child) .form-control-wrap {
    margin-bottom: 1.5rem;
}

.form-input {
    width: 100%;
    height: 60px;
    padding: 10px 30px;
    background: var(--uc-white-color);
    border: none;
    border-radius: 0;
    color: var(--uc-secondary-color);
    font-size: 16px;
    line-height: 1.2;
    outline: none !important;

    &::-webkit-input-placeholder,
    &::placeholder {
        color: rgba($secondary_color, 0.8);
    }
}

.form-input2 {
    width: 100%;
    height: 60px;
    padding: 10px 0 10px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba($white_light_color2, 0.5);
    border-radius: 0;
    color: var(--uc-secondary-color);
    font-size: 16px;
    line-height: 1.2;
    outline: none !important;
    display: block;

    &::-webkit-input-placeholder,
    &::placeholder {
        color: rgba($secondary_color, 0.8);
    }
}

.form-input-line {
    @include position($t_b: bottom);
    width: 100%;
    height: 1px;
    background: var(--uc-secondary-color);
    transform: scaleX(0);
    transform-origin: right;
    @include transition;
    transition-property: transform;
}

.has-focus .form-input-line {
    transform: scaleX(1);
    transform-origin: left;
}

/*===== Form End =====*/

/*===== Body Lines Start =====*/
.body-lines {
    .body-line-hor {
        --uc-body-line-count: calc(100% / 2);
        position: fixed;
        top: 0;
        left: calc(var(--uc-body-line) * var(--uc-body-line-count));
        width: 1px;
        height: 100%;
        background-color: rgba($white_light_color2, 0.5);
        z-index: 5;

        &:first-child {
            left: var(--uc-spacing-x);
        }

        &:last-child {
            left: calc(100% - var(--uc-spacing-x));
        }
    }
}
/*===== Body Lines End =====*/

/*===== Header Start =====*/

.site-header {
    @include position($pos: fixed, $z_ind: 100);
    @include w_h_100($h: var(--uc-header-height));
    @include transition;
    background-image: var(--uc-noise-img);
    background-repeat: repeat;

    &:after {
        @include before_after($t_b: bottom, $h: 1px);
        background-color: rgba($white_light_color2, 0.5);
    }

    & > .container-fluid {
        height: 100%;

        & > .row {
            height: 100%;

            & > [class*="col"] {
                height: 100%;
            }
        }
    }
}

.site-branding {
    @include w_h_100;
    position: relative;

    &::after {
        @include before_after($t_b: bottom, $l_r_val: 100%, $w: 1px);
        @include transition;
        transform-origin: right bottom;
        transform: scaleY(1);
        background: rgba($white_light_color2, 0.5);
    }

    a {
        @include d_flex;
        @include w_h_100($w: var(--uc-spacing-x));
        padding: 10px 15px;

        img {
            width: 50px;
        }
    }
}

.site-navigation-box {
    @include d_flex($justify: space-between);
    height: 100%;
    position: relative;
    padding: 0 calc(var(--uc-spacing-x) / 4.5);
}

.site-navigation-logo {
    a {
        display: block;
        width: 200px;

        img {
            display: block;
            width: 100%;
        }
    }
}

.site-navigation {
    height: 100%;

    nav {
        height: 100%;
        position: relative;

        & > ul {
            --bs-gutter-x: clamp(18px, 1.5vw, 40px);
            margin-right: calc(-0.5 * var(--bs-gutter-x));
            margin-left: calc(-0.5 * var(--bs-gutter-x));
            height: 100%;
            display: flex;

            & > li {
                margin-right: calc(0.5 * var(--bs-gutter-x));
                margin-left: calc(0.5 * var(--bs-gutter-x));
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;

                &:before {
                    @include before_after($t_b: bottom, $h: 1px);
                    @include transition;
                    transform: scaleX(0);
                    transform-origin: bottom left;
                    background: var(--uc-secondary-color);
                }

                & > a {
                    height: 100%;
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    color: var(--uc-secondary-color);
                    font-family: var(--uc-secondary-font-family);
                    font-weight: 600;
                    letter-spacing: 1px;

                    .dropdown-plus {
                        padding-left: 5px;
                    }

                    // .dropdown-icon {
                    //     display: none;
                    // }
                }

                &:hover > a,
                a.active {
                    color: var(--uc-primary-color);
                }

                &:hover::before,
                &:has(> a.active):before {
                    transform: scaleX(1);
                }

                & > ul.sub-menu {
                    @include transition;
                    position: absolute;
                    width: 200px;
                    z-index: 10;
                    top: 100%;
                    left: 0;
                    transform: translateY(15px);
                    padding: 7px 0;
                    background: var(--uc-white-color);
                    box-shadow: var(--uc-box-shadow);
                    display: inline-block;
                    overflow: hidden;
                    opacity: 0;
                    visibility: hidden;

                    li {
                        @include transition;
                        position: relative;
                        transform: translateY(15px);
                        opacity: 0;
                        visibility: hidden;
                        transition-delay: var(--uc-menu-li-delay);

                        a {
                            color: var(--uc-secondary-color);
                            display: flex;
                            padding: 7px 22px;
                            font-family: var(--uc-secondary-font-family);
                            letter-spacing: 1px;

                            &:hover,
                            &.active {
                                color: var(--uc-primary-color);
                            }
                        }
                    }
                }

                &:hover .sub-menu {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;

                    li {
                        transform: translateY(0);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

/*===== Header End =====*/

/*===== Sidebar Menu Start =====*/

.site-menu {
    @include d_flex($justify: flex-end);
    height: 100%;
    position: relative;

    &::after {
        @include before_after($t_b: bottom, $w: 1px);
        background: rgba($white_light_color2, 0.5);
        transition: var(--uc-transition);
    }
}

.site-menu-btn-wp {
    @include d_flex;
    height: 100%;
    width: var(--uc-spacing-x);
    flex-direction: column;
}

.site-menu-btn {
    --size: 40px;
    @include d_flex;
    @include transition;
    width: var(--size);
    height: var(--size);
    background: transparent;
    flex-direction: column;
    outline: none;
    border: none;
    position: relative;
    z-index: 101;

    span {
        @include transition;
        display: block;
        width: 100%;
        height: 1px;
        background: var(--uc-secondary-color);

        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }

    &:hover span:not(:last-child) {
        margin-bottom: 8px;
    }
}

.sidebar-menu-box {
    @include position($pos: fixed, $l_r: right, $z_ind: 110);
    @include transition;
    @include w_h_100($h: 100vh);
    max-width: 400px;
    background: var(--uc-white-light-color);
    padding: calc(var(--uc-header-height) + 10px) 40px 40px 40px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--uc-box-shadow);
    transform: translateX(110%);
    overflow-y: auto;
    backface-visibility: hidden;
    will-change: transform;
}

.sidebar-menu-overlay {
    @include position($pos: fixed, $l_r: right, $z_ind: 109);
    @include w_h_100($w: 100vw, $h: 100vh);
    @include transition;
    background-color: rgba($secondary_color, 0.7);
    transform: scaleX(0);
    transform-origin: center right;
}

.toggle-menu {
    .sidebar-menu-box {
        transform: translateX(0);
    }
    .sidebar-menu-overlay {
        transform: scaleX(1);
    }
}

.sidebar-menu-close-btn {
    --size: 40px;
    @include position($t_b_val: 30px, $l_r: right, $l_r_val: 30px, $z_ind: 5);
    @include transition;
    @include d_flex;
    width: var(--size);
    height: var(--size);
    background: transparent;
    flex-direction: column;
    outline: none;
    border: none;

    span {
        @include transition;
        display: block;
        width: 100%;
        height: 1px;
        background: var(--uc-secondary-color);

        &:first-child {
            transform: rotate(50deg);
        }

        &:last-child {
            transform: rotate(-50deg);
        }
    }

    &:hover span {
        &:first-child,
        &:last-child {
            transform: rotate(180deg);
        }
    }
}

.sidebar-menu-logo {
    a {
        display: inline-block;
        width: 220px;

        img {
            width: 100%;
        }
    }
}

.search-form {
    .form-input2 {
        padding-right: 25px;
    }
    .search-btn {
        @include position($l_r: right, $z_ind: 2);
        height: 100%;
        margin: 0;
        padding: 0;
        color: inherit;
        border: none;
        outline: none;
        background: linear-gradient(90deg, var(--uc-primary-color) 0%, var(--uc-secondary-color) 100%);
        width: 20px;
        -webkit-mask-image: url("../images/search-icon.svg");
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100%;
    }
}

/*===== Sidebar Menu End =====*/

.sidebar-instagram .h3-title {
    font-size: 25px;
    margin-bottom: 25px;
}

.sidebar-insta-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.sidebar-insta-img a {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    display: block;
}

.sidebar-insta-img a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.sidebar-insta-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--uc-secondary-color-rgb), 0.5);
    @include transition;
    opacity: 0;
}

.sidebar-insta-img-overlay i {
    font-size: 1.125rem;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    @include transition;
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    border-radius: 50%;
    background-color: var(--uc-white-color);
    align-items: center;
    justify-content: center;
    will-change: transform, opacity;
}

.sidebar-insta-img a:hover {
    color: var(--uc-secondary-color);
}

.sidebar-insta-img a:hover .sidebar-insta-img-overlay {
    opacity: 1;
}

.sidebar-insta-img a:hover .sidebar-insta-img-overlay i {
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.sidebar-copyright p a {
    color: var(--uc-primary-color);
    border-bottom: 1px solid;
}

.sidebar-copyright p a:hover {
    color: var(--uc-secondary-color);
}
