@import "variable";

@import "theme_colors";

@import "mixin";

@import "fonts";

@import "typography";

@import "space";

@import "responsive";

/*===== Common Start =====*/

:root {
    --uc-primary-color: #{$primary_color};
    --uc-secondary-color: #{$secondary_color};
    --uc-white-light-color: #{$white_light_color};
    --uc-white-light-color2: #{$white_light_color2};
    --uc-white-color: #{$white_color};
    --uc-black-color: #{$black_color};
    --uc-primary-font-family: #{$primary_font};
    --uc-secondary-font-family: #{$secondary_font};
    --uc-noise-img: url("../../assets/images/body-bg.jpg");
    --uc-box-shadow: 0 3px 6px #{rgba($black_color, 16%)};
    --uc-text-shadow: 2px 2px 0 #{rgba($black_color, 30%)};
    --uc-spacing: 100px;
    --uc-spacing-y: 100px;
    --uc-header-height: 100px;
    --uc-spacing-x: clamp(80px, 5.209vw, 100px);
    --uc-scrollbar-track-color: var(--uc-noise-img);
    --uc-scrollbar-thumb-color: var(--uc-secondary-color);
    --uc-scrollbar-thumb-hover-color: var(--uc-primary-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden !important;
}

body {
    margin: 0;
    font-family: var(--uc-primary-font-family);
    background-image: var(--uc-noise-img);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--uc-scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--uc-scrollbar-thumb-hover-color);
}

::-webkit-scrollbar-track {
    background: var(--uc-scrollbar-track-color);
}

::-moz-selection {
    background: rgba($secondary_color, 0.1);
}

::selection {
    background: rgba($secondary_color, 0.1);
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    @include list_reset;
}

.back-image {
    @include back_img();
}

a {
    @include transition;
    color: var(--uc-primary-color);
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

p {
    &:last-child,
    &:last-of-type {
        margin-bottom: 0;
    }
}

.white-text {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a:not(.sec-btn),
    ul li {
        color: var(--uc-white-color);
    }
}

.sec-wp {
    position: relative;
    z-index: 4;
}

.sec-wp-index-5 {
    position: relative;
    z-index: 5;
}

.sec-btn {
    @include d_flex($dis_flex: inline-flex);
    @include transition($t_d: 0.35s, $t_t_f: ease-in-out);
    background-color: var(--uc-primary-color);
    color: var(--uc-white-color) !important;
    border: none;
    outline: none !important;
    min-height: 60px;
    border-radius: 0;
    font-family: var(--uc-primary-font-family);
    box-shadow: none;
    padding: 18px 30px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 5;

    &:before {
        @include before_after($cont: "" attr(content) "", $t_b_val: 50%, $l_r_val: 50%, $h: auto, $z_ind: 2);
        @include transition($t_d: 0.35s, $t_t_f: ease-in-out);
        transform: translate(-50%, 20px);
        opacity: 0;
        color: var(--uc-white-color);
        text-align: center;
        white-space: nowrap;
        word-wrap: break-word;
    }

    &:after {
        @include before_after($t_b: bottom, $z_ind: 1);
        @include transition($t_d: 0.35s, $t_t_f: ease-in-out);
        transform: scaleY(0);
        transform-origin: center bottom;
        backface-visibility: hidden;
        background: var(--uc-secondary-color);
    }

    span {
        @include transition($t_d: 0.35s, $t_t_f: ease-in-out);
        display: block;
        transform: translate(0);
        position: relative;
        z-index: 2;
        opacity: 1;
    }

    &:hover {
        span {
            transform: translate(0, -20px);
            opacity: 0;
        }
        &:before {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
        &:after {
            transform: scaleY(1);
        }
    }

    &.yellow-btn:before {
        color: var(--uc-secondary-color);
    }

    &.yellow-btn:after {
        background: var(--uc-white-color);
    }
}

.sec-title {
    margin-bottom: 48px;
}

.sec-title-btn {
    @include d_flex($justify: flex-end);
    height: 100%;
}

.line-wp {
    position: relative;
    padding: 20px;
    --uc-line-corners: 15px;
    --uc-line-width: 1px;

    .line {
        @include transition;
        position: absolute;
        background-color: rgba($white_light_color2, 0.5);

        &.line-top,
        &.line-bottom {
            left: calc(var(--uc-line-corners) * -1);
            right: calc(var(--uc-line-corners) * -1);
            height: var(--uc-line-width);
        }

        &.line-top {
            top: 0;
        }

        &.line-bottom {
            bottom: 0;
        }

        &.line-left,
        &.line-right {
            width: var(--uc-line-width);
            top: calc(var(--uc-line-corners) * -1);
            bottom: calc(var(--uc-line-corners) * -1);
        }

        &.line-left {
            left: 0;
        }

        &.line-right {
            right: 0;
        }
    }

    &.line-wp-hover:hover .line {
        --uc-line-corners: 25px;
        background-color: rgba($white_light_color2, 1);
    }
}

.overlay {
    position: relative;

    &:before {
        @include before_after($z_ind: 1);
        @include transition;
        background: var(--uc-secondary-color);
    }

    &[data-overlay="1"]:before {
        opacity: 0.1;
    }

    &[data-overlay="3"]:before {
        opacity: 0.3;
    }
}
.common-image-wp {
    .common-image {
        height: clamp(500px, 67vh, 700px);
        overflow: hidden;
    }

    .common-image-inr {
        @include w_h_100;
        display: block;
    }
    .common-image-inr-inr {
        @include w_h_100;
        @include transition;
        transform: scale(1.05) translateX(0);
    }

    img {
        --uc-image-height-increase: 20%;
        @include w_h_100($h: calc(100% + var(--uc-image-height-increase)));
        top: calc(var(--uc-image-height-increase) * -0.5);
        position: absolute;
        display: block;
        object-fit: cover;
        object-position: center;
        pointer-events: none;
    }

    &:hover {
        .common-image:before {
            opacity: 0;
        }

        .common-image-inr-inr {
            transform: scale(1.05) translateX(1.5%);
        }
    }
}

.star-eight-corner {
    content: "";
    position: absolute;
    width: calc(var(--uc-spacing-y) + 2vw);
    height: calc(var(--uc-spacing-y) + 2vw);
    -webkit-mask-image: url("../images/star-eight-corner.svg");
    -webkit-mask-position: center;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    background: linear-gradient(to bottom, var(--uc-secondary-color) 0%, var(--uc-secondary-color) 50%, #fbfbfb 51%, #fbfbfb 100%);
    z-index: 2;
    display: block;
}

.services-list {
    ul {
        li {
            position: relative;
            display: flex;
            flex-direction: row;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            span {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                position: relative;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;
                background-color: var(--uc-primary-color);
                border: 1px solid transparent;

                &:before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    background-color: var(--uc-white-color);
                    -webkit-mask-image: url("../images/check.svg");
                    -webkit-mask-position: center;
                    -webkit-mask-repeat: no-repeat;
                    -webkit-mask-size: cover;
                    display: block;
                }
            }
        }
    }

    &.white-text ul li span {
        border-color: rgba($white_color, 0.4);
        background-color: rgba($secondary_color, 0.4);
    }
}

/*===== Common End =====*/

/*===== Slider Start =====*/

.highlight-svg {
    padding: 0 10px;

    svg {
        position: absolute;
        top: 56%;
        left: 50%;
        width: 100%;
        height: 118%;
        transform: translate(-50%, -50%);
        overflow: visible;
        z-index: -1;

        path {
            stroke: var(--uc-primary-color);
            fill: none;
            stroke-width: 5px;
            stroke-dasharray: 1217px;
        }
    }
}

.swiper-slide-x--cover,
.swiper-slide-y--cover {
    overflow: hidden;
    transform-style: preserve-3d;
    position: relative;
}

.swiper-slide-x--cover > * {
    @include transition;
    position: relative;
    clip-path: inset(0 100% 0 0);
}

.swiper-slide-y--cover > * {
    @include transition;
    transform: translateY(110%);
    position: relative;
}

.swiper-slide.swiper-slide-active {
    .swiper-slide-x--cover > * {
        transition-delay: 600ms;
        transition-timing-function: ease-in-out;
        clip-path: inset(0 0 0 0);
    }
    .swiper-slide-x--cover2 > * {
        transition-delay: 1200ms;
    }
    .swiper-slide-x--cover3 > * {
        transition-delay: 1800ms;
    }
    .swiper-slide-y--cover > * {
        transform: translateY(0);
        transition-delay: 600ms;
        transition-timing-function: ease-in-out;
    }
}

.swiper-button {
    @include transition;
    width: 46px;
    height: 80px;
    background: var(--uc-primary-color);
    color: var(--uc-white-color);
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);

    &:after {
        content: none !important;
    }

    .swiper-button--icon {
        @include transition;
    }

    .swiper-button--text {
        @include transition;
        @include d_flex;
        @include w_h_100;
        position: absolute;
        top: 0;
        writing-mode: vertical-lr;
        background: var(--uc-primary-color);
        text-orientation: upright;
        line-height: 1;
        font-size: 13px;
        text-transform: uppercase;
    }

    &.swiper-button-prev {
        left: -100px;

        .swiper-button--text {
            right: 100%;
            transform: scaleX(0);
            transform-origin: right;
        }
    }

    &.swiper-button-next {
        right: -100px;

        .swiper-button--text {
            left: 100%;
            transform: scaleX(0);
            transform-origin: left;
        }
    }

    &:hover {
        background: var(--uc-secondary-color);

        .swiper-button--text {
            transform: scaleX(1);
        }
    }

    &.white:hover {
        background: var(--uc-white-color);

        .swiper-button--icon {
            color: var(--uc-secondary-color);
        }
    }
}

.swiper-pagination {
    .swiper-pagination-bullet {
        @include transition;
        width: 25px;
        height: 2px;
        border-radius: 0;
        background: rgba($secondary_color, 0.5);
        opacity: 1;
        margin: 0 12px;

        &.swiper-pagination-bullet-active {
            background: var(--uc-secondary-color);
            width: 50px;
        }
    }

    &.white .swiper-pagination-bullet {
        background: rgba($white_color, 0.5);

        &.swiper-pagination-bullet-active {
            background: var(--uc-white-color);
        }
    }
}

/*===== Slider End =====*/

/*===== Form Start =====*/

select {
    -moz-appearance: none;
    -webkit-appearance: none;

    &:focus {
        outline: none;
    }
}

.form-control-wrap {
    position: relative;
    width: 100%;
    display: block;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

[class*="col-"]:not(:last-child) .form-control-wrap {
    margin-bottom: 1.5rem;
}

.form-input {
    width: 100%;
    height: 60px;
    padding: 10px 30px;
    background: var(--uc-white-color);
    border: none;
    border-radius: 0;
    color: var(--uc-secondary-color);
    font-size: 16px;
    line-height: 1.2;
    outline: none !important;

    &::-webkit-input-placeholder,
    &::placeholder {
        color: rgba($secondary_color, 0.8);
    }
}

.form-input2 {
    width: 100%;
    height: 60px;
    padding: 10px 0 10px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba($white_light_color2, 0.5);
    border-radius: 0;
    color: var(--uc-secondary-color);
    font-size: 16px;
    line-height: 1.2;
    outline: none !important;
    display: block;

    &::-webkit-input-placeholder,
    &::placeholder {
        color: rgba($secondary_color, 0.8);
    }
}

.form-input-line {
    @include position($t_b: bottom);
    width: 100%;
    height: 1px;
    background: var(--uc-secondary-color);
    transform: scaleX(0);
    transform-origin: right;
    @include transition;
    transition-property: transform;
}

.has-focus .form-input-line {
    transform: scaleX(1);
    transform-origin: left;
}

/*===== Form End =====*/

/*===== Body Lines Start =====*/
.body-lines {
    .body-line-hor {
        --uc-body-line-count: calc(100% / 2);
        position: fixed;
        top: 0;
        left: calc(var(--uc-body-line) * var(--uc-body-line-count));
        width: 1px;
        height: 100%;
        background-color: rgba($white_light_color2, 0.5);
        z-index: 5;

        &:first-child {
            left: var(--uc-spacing-x);
        }

        &:last-child {
            left: calc(100% - var(--uc-spacing-x));
        }
    }
}
/*===== Body Lines End =====*/

/*===== Header Start =====*/

.site-header {
    @include position($pos: fixed, $z_ind: 100);
    @include w_h_100($h: var(--uc-header-height));
    @include transition;
    background-image: var(--uc-noise-img);
    background-repeat: repeat;

    &:after {
        @include before_after($t_b: bottom, $h: 1px);
        background-color: rgba($white_light_color2, 0.5);
    }

    & > .container-fluid {
        height: 100%;

        & > .row {
            height: 100%;

            & > [class*="col"] {
                height: 100%;
            }
        }
    }
    &.header-sticky {
        --uc-header-height: 80px;
    }
}

.site-branding {
    @include w_h_100;
    position: relative;

    &::after {
        @include before_after($t_b: bottom, $l_r_val: 100%, $w: 1px);
        @include transition;
        transform-origin: right bottom;
        transform: scaleY(1);
        background: rgba($white_light_color2, 0.5);
    }

    a {
        @include d_flex;
        @include w_h_100($w: var(--uc-spacing-x));
        padding: 10px 15px;

        img {
            width: 50px;
        }
    }
}

.site-navigation-box {
    @include d_flex($justify: space-between);
    height: 100%;
    position: relative;
    padding: 0 calc(var(--uc-spacing-x) / 4.5);
}

.site-navigation-logo {
    a {
        display: block;
        width: 200px;

        img {
            display: block;
            width: 100%;
        }
    }
}

.site-navigation {
    height: 100%;

    nav {
        height: 100%;
        position: relative;

        & > ul {
            --bs-gutter-x: clamp(18px, 1.5vw, 40px);
            margin-right: calc(-0.5 * var(--bs-gutter-x));
            margin-left: calc(-0.5 * var(--bs-gutter-x));
            height: 100%;
            display: flex;

            & > li {
                margin-right: calc(0.5 * var(--bs-gutter-x));
                margin-left: calc(0.5 * var(--bs-gutter-x));
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;

                &:before {
                    @include before_after($t_b: bottom, $h: 1px);
                    @include transition;
                    transform: scaleX(0);
                    transform-origin: bottom left;
                    background: var(--uc-secondary-color);
                }

                & > a {
                    height: 100%;
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    color: var(--uc-secondary-color);
                    font-family: var(--uc-secondary-font-family);
                    font-weight: 600;
                    letter-spacing: 1px;

                    .dropdown-plus {
                        padding-left: 5px;
                    }

                    // .dropdown-icon {
                    //     display: none;
                    // }
                }

                &:hover > a,
                a.active {
                    color: var(--uc-primary-color);
                }

                &:hover::before,
                &:has(> a.active):before {
                    transform: scaleX(1);
                }

                & > ul.sub-menu {
                    @include transition;
                    position: absolute;
                    width: 200px;
                    z-index: 10;
                    top: 100%;
                    left: 0;
                    transform: translateY(15px);
                    padding: 7px 0;
                    background: var(--uc-white-color);
                    box-shadow: var(--uc-box-shadow);
                    display: inline-block;
                    overflow: hidden;
                    opacity: 0;
                    visibility: hidden;

                    li {
                        @include transition;
                        position: relative;
                        transform: translateY(15px);
                        opacity: 0;
                        visibility: hidden;
                        transition-delay: var(--uc-menu-li-delay);

                        a {
                            color: var(--uc-secondary-color);
                            display: flex;
                            padding: 7px 22px;
                            font-family: var(--uc-secondary-font-family);
                            letter-spacing: 1px;

                            &:hover,
                            &.active {
                                color: var(--uc-primary-color);
                            }
                        }
                    }
                }

                &:hover .sub-menu {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;

                    li {
                        transform: translateY(0);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

/*===== Header End =====*/

/*===== Sidebar Menu Start =====*/

.site-menu {
    @include d_flex($justify: flex-end);
    height: 100%;
    position: relative;

    &::after {
        @include before_after($t_b: bottom, $w: 1px);
        background: rgba($white_light_color2, 0.5);
        transition: var(--uc-transition);
    }
}

.site-menu-btn-wp {
    @include d_flex;
    height: 100%;
    width: var(--uc-spacing-x);
    flex-direction: column;
}

.site-menu-btn {
    --size: 40px;
    @include d_flex;
    @include transition;
    width: var(--size);
    height: var(--size);
    background: transparent;
    flex-direction: column;
    outline: none;
    border: none;
    position: relative;
    z-index: 101;

    span {
        @include transition;
        display: block;
        width: 100%;
        height: 1px;
        background: var(--uc-secondary-color);

        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }

    &:hover span:not(:last-child) {
        margin-bottom: 8px;
    }
}

.sidebar-menu-box {
    @include position($pos: fixed, $l_r: right, $z_ind: 110);
    @include transition;
    @include w_h_100($h: 100vh);
    max-width: 400px;
    background: var(--uc-white-light-color);
    padding: calc(var(--uc-header-height) + 10px) 40px 40px 40px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--uc-box-shadow);
    transform: translateX(110%);
    overflow-y: auto;
    backface-visibility: hidden;
    will-change: transform;
}

.sidebar-menu-overlay {
    @include position($pos: fixed, $l_r: right, $z_ind: 109);
    @include w_h_100($w: 100vw, $h: 100vh);
    @include transition;
    background-color: rgba($secondary_color, 0.7);
    transform: scaleX(0);
    transform-origin: center right;
}

.toggle-menu {
    .sidebar-menu-box {
        transform: translateX(0);
    }
    .sidebar-menu-overlay {
        transform: scaleX(1);
    }
}

.sidebar-menu-close-btn {
    --size: 40px;
    @include position($t_b_val: 30px, $l_r: right, $l_r_val: 30px, $z_ind: 5);
    @include transition;
    @include d_flex;
    width: var(--size);
    height: var(--size);
    background: transparent;
    flex-direction: column;
    outline: none;
    border: none;

    span {
        @include transition;
        display: block;
        width: 100%;
        height: 1px;
        background: var(--uc-secondary-color);

        &:first-child {
            transform: rotate(50deg);
        }

        &:last-child {
            transform: rotate(-50deg);
        }
    }

    &:hover span {
        &:first-child,
        &:last-child {
            transform: rotate(180deg);
        }
    }
}

.sidebar-menu-logo {
    a {
        display: inline-block;
        width: 220px;

        img {
            width: 100%;
        }
    }
}

.search-form {
    .form-input2 {
        padding-right: 25px;
    }
    .search-btn {
        @include position($l_r: right, $z_ind: 2);
        height: 100%;
        margin: 0;
        padding: 0;
        color: inherit;
        border: none;
        outline: none;
        background: linear-gradient(90deg, var(--uc-primary-color) 0%, var(--uc-secondary-color) 100%);
        width: 20px;
        -webkit-mask-image: url("../images/search-icon.svg");
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100%;
    }
}

// .sidebar-instagram .h3-title {
//     font-size: 25px;
//     margin-bottom: 25px;
// }

// .sidebar-insta-imgs {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 15px;
// }

// .sidebar-insta-img a {
//     position: relative;
//     height: 0;
//     padding-bottom: 100%;
//     display: block;
// }

// .sidebar-insta-img a img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     object-position: center;
// }

// .sidebar-insta-img-overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 2;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: rgba(var(--uc-secondary-color-rgb), 0.5);
//     @include transition;
//     opacity: 0;
// }

// .sidebar-insta-img-overlay i {
//     font-size: 1.125rem;
//     width: 2rem;
//     height: 2rem;
//     display: inline-flex;
//     @include transition;
//     transform: translate3d(0, 100%, 0);
//     opacity: 0;
//     border-radius: 50%;
//     background-color: var(--uc-white-color);
//     align-items: center;
//     justify-content: center;
//     will-change: transform, opacity;
// }

// .sidebar-insta-img a:hover {
//     color: var(--uc-secondary-color);
// }

// .sidebar-insta-img a:hover .sidebar-insta-img-overlay {
//     opacity: 1;
// }

// .sidebar-insta-img a:hover .sidebar-insta-img-overlay i {
//     transition-delay: 0.1s;
//     transform: translate3d(0, 0, 0);
//     opacity: 1;
// }

// .sidebar-copyright p a {
//     color: var(--uc-primary-color);
//     border-bottom: 1px solid;
// }

// .sidebar-copyright p a:hover {
//     color: var(--uc-secondary-color);
// }

/*===== Sidebar Menu End =====*/

/*===== Banner Start =====*/

.main-banner {
    padding: calc(var(--uc-header-height) + (var(--uc-spacing-y) * 0.5)) calc(var(--uc-spacing-x) * 0.5) calc(var(--uc-spacing-y) * 1) calc(var(--uc-spacing-x) * 0.5);
    position: relative;

    .banner-slider-wrap {
        position: relative;

        .banner-slider {
            &.swiper {
                overflow: visible;
            }

            .banner-image-wp {
                width: 100%;
                height: clamp(600px, 37.032vw, 750px);
                min-height: calc(100vh - ((var(--uc-spacing-y) * 2) + (var(--uc-spacing-y) / 2)));
                position: relative;
                overflow: hidden;
                background: rgba(var(--uc-secondary-color-rgb), 0.1);

                .banner-image {
                    --uc-image-height-increase: 20%;
                    height: calc(100% + var(--uc-image-height-increase));
                    top: calc(var(--uc-image-height-increase) * -0.5);
                    width: 100%;
                    position: relative;
                    display: block;
                }
            }

            .banner-content-wp {
                @include d_flex();
                height: 100%;
                flex-flow: column;

                .banner-content {
                    background-color: var(--uc-secondary-color);
                    padding: clamp(30px, 4vw, 50px);
                    margin-left: clamp(-350px, -20vw, -380px);
                    position: relative;
                    z-index: 2;

                    .h1-title {
                        margin-bottom: 50px;
                    }
                }
            }

            .swiper-slide {
                transition: 0s ease;

                .banner-image {
                    clip-path: inset(0 0 100% 0);
                    transition: -webkit-clip-path 0s cubic-bezier(0.45, 0, 0.55, 1) 1.5s;
                    -webkit-transition: -webkit-clip-path 0s cubic-bezier(0.45, 0, 0.55, 1) 1.5s;
                    -o-transition: clip-path 0s cubic-bezier(0.45, 0, 0.55, 1) 1.5s;
                    transition: clip-path 0s cubic-bezier(0.45, 0, 0.55, 1) 1.5s;
                    transition: clip-path 0s cubic-bezier(0.45, 0, 0.55, 1) 1.5s, -webkit-clip-path 0s cubic-bezier(0.45, 0, 0.55, 1) 1.5s;
                }

                &.swiper-slide-active {
                    opacity: 1 !important;

                    .banner-image {
                        -webkit-clip-path: inset(0 0 0 0);
                        clip-path: inset(0 0 0 0);
                        transition: -webkit-clip-path 1.5s cubic-bezier(0.45, 0, 0.55, 1);
                        -webkit-transition: -webkit-clip-path 1.5s cubic-bezier(0.45, 0, 0.55, 1);
                        -o-transition: clip-path 1.5s cubic-bezier(0.45, 0, 0.55, 1);
                        transition: clip-path 1.5s cubic-bezier(0.45, 0, 0.55, 1);
                        transition: clip-path 1.5s cubic-bezier(0.45, 0, 0.55, 1), -webkit-clip-path 1.5s cubic-bezier(0.45, 0, 0.55, 1);
                    }

                    .highlight-svg svg path {
                        animation: high-svg-animation 2.75s linear alternate forwards;
                        animation-delay: calc(0.5s * (var(--uc-highlight-svg)));
                    }

                    @-webkit-keyframes high-svg-animation {
                        from {
                            stroke-dashoffset: 1217px;
                        }

                        to {
                            stroke-dashoffset: 0;
                        }
                    }

                    @keyframes high-svg-animation {
                        from {
                            stroke-dashoffset: 1217px;
                        }

                        to {
                            stroke-dashoffset: 0;
                        }
                    }
                }
            }

            .swiper-pagination {
                width: max-content;
                right: 0;
                left: auto;
                bottom: 0;
                line-height: 1;
                background: var(--uc-secondary-color);
                color: var(--uc-white-color);
                padding: 4px 15px 8px 15px;
                font-family: var(--uc-secondary-font-family);
                font-size: 22px;

                span {
                    display: inline-block;
                }
            }

            .swiper-progress-bar {
                left: 50%;
                width: 80%;
                transform: translate(-50%, 0);
                top: calc(100% + (var(--uc-spacing-y) / 2));
                cursor: pointer;
                position: absolute;
                display: block;
                z-index: 1;
                height: 1px;

                .slide_progress-bar {
                    height: 100%;
                    background-color: rgba($secondary_color, 0.2);
                    width: auto;
                    clear: both;
                    opacity: 0;
                    display: block;

                    .slide_progress-bar-inner {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: var(--uc-secondary-color);
                        height: 100%;
                        width: 0;
                        transition: 0.1s width linear;
                    }
                }

                &.active .slide_progress-bar {
                    opacity: 1;
                }

                &.animate .slide_progress-bar .slide_progress-bar-inner {
                    transition: width linear;
                    transition-delay: unset;
                    width: 100%;
                    transition-duration: 3s;
                }
            }
        }
    }
}

/*===== Banner End =====*/

/*===== About Start =====*/

.about-content {
    padding-right: 20px;
}

.about-content-text {
    padding-left: 20px;
    border-left: 2px solid var(--uc-primary-color);
}

.about-image-slider {
    .swiper-slide {
        transition: 0s ease;

        .common-image-inr {
            --uc-img-slide-transition: cubic-bezier(0.45, 0, 0.55, 1);
            -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
            transition: -webkit-clip-path 0s var(--uc-img-slide-transition) 1.5s;
            -webkit-transition: -webkit-clip-path 0s var(--uc-img-slide-transition) 1.5s;
            -o-transition: clip-path 0s var(--uc-img-slide-transition) 1.5s;
            transition: clip-path 0s var(--uc-img-slide-transition) 1.5s;
            transition: clip-path 0s var(--uc-img-slide-transition) 1.5s, -webkit-clip-path 0s var(--uc-img-slide-transition) 1.5s;
        }

        &.swiper-slide-active {
            opacity: 1 !important;

            .common-image-inr {
                -webkit-clip-path: inset(0 0 0 0);
                clip-path: inset(0 0 0 0);
                transition: -webkit-clip-path 1.5s var(--uc-img-slide-transition);
                -webkit-transition: -webkit-clip-path 1.5s var(--uc-img-slide-transition);
                -o-transition: clip-path 1.5s var(--uc-img-slide-transition);
                transition: clip-path 1.5s var(--uc-img-slide-transition);
                transition: clip-path 1.5s var(--uc-img-slide-transition), -webkit-clip-path 1.5s var(--uc-img-slide-transition);
            }
        }
    }
}

/*===== About End =====*/

/*===== Service Start =====*/

.service-row {
    counter-reset: service-count;

    [class*="col-"] {
        &:nth-child(n + 4) .service-box {
            margin-top: 40px;
        }
        &:nth-child(3n + 2) .service-box {
            margin-top: 90px;
        }
        &:nth-child(2) .service-box {
            margin-top: 50px;
        }
    }
}

.service-box {
    &:before {
        counter-increment: service-count;
        content: counters(service-count, ".", decimal-leading-zero);
        position: absolute;
        left: 10px;
        top: -19px;
        font-size: 14px;
        line-height: 1;
        font-weight: bold;
    }

    .service-box-inr {
        padding: 30px 20px;
        background: rgba($secondary_color, 0.07);
        position: relative;
        overflow: hidden;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;

        .service-box-overlay {
            @include position($l_r: right);
            @include w_h_100;
            @include d_flex($align: flex-start, $justify: flex-end);
            @include transition;
            padding: 20px;
            background: rgba($primary_color, 0.25);
            opacity: 0;
            transform: scale(1.2);

            .service-plus-inr {
                --size: 30px;
                @include w_h_100($w: var(--size), $h: var(--size));
                @include d_flex;
                @include transition;
                border-radius: 50%;
                position: relative;
                border: 1px solid var(--uc-secondary-color);
                top: 0;
                right: 0;
                overflow: hidden;
                z-index: 2;

                .service-plus-icon {
                    --size: 16px;
                    @include w_h_100($w: var(--size), $h: var(--size));
                    display: block;
                    -webkit-mask-image: url("../images/service-plus-icon.svg");
                    -webkit-mask-position: center;
                    -webkit-mask-repeat: no-repeat;
                    -webkit-mask-size: 100%;
                    background-color: var(--uc-secondary-color);
                }

                &:hover {
                    background: var(--uc-secondary-color);

                    .service-plus-icon {
                        background: var(--uc-white-color);
                    }
                }
            }
        }

        .service-box-inr--icon {
            margin-bottom: 20px;
            position: relative;

            &:before {
                --size: 90%;
                @include before_after($t_b: bottom, $l_r: right, $w: var(--size), $h: var(--size), $z_ind: -1);
                background: rgba($secondary_color, 0.09);
                border-radius: 50%;
                transform: translate(20%, 15%);
                z-index: -1;
            }

            img {
                --size: 64px;
                max-width: var(--size);
                max-height: var(--size);
            }
        }

        .service-box-inr--content {
            position: relative;

            .h4-title {
                margin-bottom: 15px;
            }

            p {
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }

    &.line-wp {
        .line {
            &.line-left,
            &.line-right {
                margin-top: -10px;
            }
            &.line-top:before {
                content: "";
                position: absolute;
                top: 0;
                left: 55px;
                right: 0;
                height: 100%;
                background-color: rgba($secondary_color, 0.6);
                z-index: 1;
            }
        }
    }

    &:hover {
        .service-box-overlay {
            opacity: 1;
            transform: scale(1);
        }
    }
}

/*===== Service End =====*/

/*===== Video Sec Start =====*/

.video-box {
    position: relative;

    .video-box-overlay {
        @include transition;
        @include position;
        @include w_h_100;
        background: rgba($secondary_color, 0.15);
        opacity: 1;
    }

    .video-box-close-overlay {
        @include position($z_ind: 1);
        @include w_h_100;
        display: none;
        cursor: pointer;
    }

    .video-box-btn {
        @include d_flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        z-index: 5;
        cursor: pointer;

        .video-box-btn-inr {
            display: inline-block;
            width: clamp(140px, 10.417vw, 250px);
            height: clamp(140px, 10.417vw, 250px);

            .video-box-btn--text {
                color: var(--uc-white-color);
                font-size: 14px;
                line-height: 1.2;
                text-transform: uppercase;
                letter-spacing: 0.5em;
                font-weight: 400;
                text-align: center;
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: auto;

                &:after {
                    @include transition;
                    content: "";
                    position: absolute;
                    top: 49%;
                    left: 50%;
                    transform: scaleX(1);
                    transform-origin: left;
                    width: 50px;
                    height: 1px;
                    background-color: var(--uc-white-color);
                }
            }

            .video-box-btn--svg {
                width: 100%;
                height: 100%;
                display: inline-block;

                svg {
                    width: 100%;
                    stroke: var(--uc-white-color);
                    stroke-width: 1px;
                    fill: none;

                    path {
                        @include transition;
                        stroke-dasharray: 630;
                        stroke-dashoffset: 0;
                    }
                }
            }
        }

        &:hover {
            .video-box-btn--text:after {
                transform: scaleX(0);
            }

            .video-box-btn--svg svg path {
                stroke-dashoffset: 630;
            }
        }
    }

    &:hover {
        .video-box-overlay {
            opacity: 0;
        }
    }

    &.activeVideo {
        video {
            cursor: pointer;
        }
    }
}

/*===== Video Sec End =====*/

/*===== Work Process Start =====*/

.work-process-content {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;

    .work-process-steps {
        counter-reset: work-process-count;

        .work-process-step {
            position: relative;
            padding-left: 90px;

            &:not(:last-child) {
                margin-bottom: 40px;
            }

            &:before {
                @include d_flex;
                counter-increment: work-process-count;
                content: counters(work-process-count, ".", decimal-leading-zero);
                position: absolute;
                left: 0;
                top: 0;
                font-size: 22px;
                line-height: 1;
                font-weight: bold;
                width: 60px;
                height: 60px;
                background: var(--uc-primary-color);
                border-radius: 50%;
                color: var(--uc-white-color);
                z-index: 2;
            }

            &:not(:last-child):after {
                content: "";
                position: absolute;
                top: 65px;
                left: 28px;
                width: 4px;
                height: calc(100% - 30px);
                display: block;
                -webkit-mask-image: url("../images/steps-line.svg");
                -webkit-mask-position: center;
                -webkit-mask-repeat: repeat-y;
                -webkit-mask-size: 100%;
                background-color: var(--uc-secondary-color);
                z-index: 1;
            }

            .h3-title {
                margin-bottom: 10px;
            }
        }

        &.white-text .work-process-step:not(:last-child):after {
            background-color: var(--uc-white-color);
        }
    }
}

/*===== Work Process End =====*/

/*===== Counter Start =====*/

.counter-row-inr {
    --uc-counter-box-width: 1.7%;
    @include d_flex;
    flex-direction: row;
    width: calc(100% + var(--uc-counter-box-width));
    margin-left: calc(var(--uc-counter-box-width) / -2);

    .counter-box {
        --uc-counter-box-width: 20%;
        position: relative;
        border-radius: 50%;
        width: var(--uc-counter-box-width);
        padding-bottom: var(--uc-counter-box-width);

        .counter-box-inr {
            @include transition;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            border: 1px solid var(--uc-white-light-color2);
            overflow: hidden;

            .counter-box-inr-content {
                @include d_flex;
                height: 100%;
                flex-direction: column;

                * {
                    @include transition;
                }

                .counter-box-title {
                    font-size: clamp(40px, 3vw, 70px);
                    line-height: 1.5;
                    font-weight: bold;
                    font-family: var(--uc-secondary-font-family);
                }

                p {
                    font-size: clamp(16px, 1.1vw, 20px);
                    max-width: 60%;
                    text-align: center;
                    line-height: 1.5;
                }
            }
        }

        &:nth-child(2) {
            margin: -10% 0 0 -0.5%;
        }

        &:nth-child(3) {
            margin: 0 0 0 -0.6%;
        }

        &:nth-child(4) {
            margin: -11% 0 0 -0.6%;
        }

        &:nth-child(3n + 1) {
            --uc-counter-box-width: 30%;
        }

        .counter-box-ripple {
            @include transition;
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }

        &:nth-child(2n + 1) {
            .counter-box-ripple {
                background: var(--uc-secondary-color);
            }
            &:hover {
                .counter-box-inr {
                    border-color: var(--uc-secondary-color);
                }
            }
        }

        &:nth-child(2n + 2) {
            .counter-box-ripple {
                background: var(--uc-primary-color);
            }
            :hover {
                .counter-box-inr {
                    border-color: var(--uc-primary-color);
                }
            }
        }

        &:hover {
            .counter-box-inr-content * {
                color: var(--uc-white-color);
            }

            .counter-box-ripple {
                width: calc(100% * 2.5);
                height: calc(100% * 2.5);
            }
        }
    }
}

/*===== Counter End =====*/

/*===== Team Start =====*/

.main-team {
    .team-star-img {
        right: 9%;
        top: 0;
        transform: translate(0, -50%);
    }

    .team-box {
        box-shadow: var(--uc-box-shadow);
        position: relative;

        .team-box-img {
            position: relative;
            overflow: hidden;
            padding-bottom: 112%;
            z-index: 2;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                pointer-events: none;
            }

            .team-box-social {
                @include transition;
                background-color: var(--uc-white-color);
                padding: 10px 50px;
                position: absolute;
                right: 0;
                bottom: 0;
                transform: translateY(105%);
                z-index: 2;

                h6 {
                    margin-bottom: 5px;
                    text-align: center;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                }

                ul {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    li {
                        &:not(:last-child) {
                            margin-right: 10px;
                        }

                        a {
                            font-size: 14px;
                            line-height: 1;
                            text-transform: uppercase;
                            letter-spacing: 0.5em;
                            font-weight: 400;
                            text-align: center;
                            display: inline-block;
                            color: var(--uc-secondary-color);
                            position: relative;
                            opacity: 0;

                            &:after {
                                @include transition;
                                content: "";
                                position: absolute;
                                top: 46%;
                                left: 0;
                                transform: scaleX(0);
                                transform-origin: left;
                                width: 100%;
                                height: 1px;
                                background-color: var(--uc-secondary-color);
                            }

                            &:hover {
                                &:after {
                                    transform: scaleX(1);
                                }
                            }
                        }
                    }
                }
            }
        }

        .team-box-content {
            padding: 15px;

            .h3-title {
                margin-bottom: 15px;
            }
        }

        &:hover {
            .team-box-social {
                transform: translateY(0);
            }

            .team-box-social ul li a {
                opacity: 1;
                transition-delay: calc(0.3s * (var(--uc-tb-social)));
            }

            .team-box-img.overlay:before {
                height: 0;
            }
        }
    }
}

/*===== Team End =====*/

/*===== Testimonials Start =====*/

.testimonial-slider {
    margin-bottom: 40px;
}

.testimonial-box {
    position: relative;
    padding: clamp(40px, 4vw, 70px) clamp(40px, 4vw, 80px);
    background-color: var(--uc-white-color);
    z-index: 2;

    &:before {
        @include transition($t_d: 2s);
        content: "";
        position: absolute;
        top: 40px;
        right: 0;
        width: 40%;
        height: 30px;
        background-color: var(--uc-secondary-color);
        opacity: 0.1;
        z-index: -1;
    }

    &:after {
        @include transition($t_d: 2s);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: var(--uc-primary-color);
        z-index: -1;
    }

    .testimonial-box-quote {
        @include transition;
        width: 70px;
        height: 70px;
        -webkit-mask-image: url("../images/testimonial-quote.svg");
        -webkit-mask-position: center;
        -webkit-mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        background: linear-gradient(200deg, var(--uc-secondary-color) 0%, var(--uc-primary-color) 100%);
        margin-bottom: 10px;
    }

    .testimonial-box-text {
        margin-bottom: 20px;

        p {
            @include transition;
            font-size: 18px;
            line-height: 1.5;
        }
    }

    .testimonial-box-footer {
        display: flex;
        align-items: center;

        .testimonial-box-img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            flex: 0 0 auto;
            margin-right: 30px;
        }

        .testimonial-box-footer-content {
            * {
                @include transition;
            }

            h6 {
                margin-bottom: 0;
            }

            h5 {
                margin-bottom: 10px;
            }
        }
    }

    &:hover,
    .swiper-slide-active & {
        &:before {
            width: 0;
        }

        &:after {
            width: 100%;
        }

        .testimonial-box-quote {
            background: linear-gradient(200deg, var(--uc-white-color) 0%, var(--uc-white-color) 100%);
        }

        .testimonial-box-text {
            p {
                color: var(--uc-white-color);
            }
        }

        .testimonial-box-footer-content {
            * {
                color: var(--uc-white-color);
            }
        }
    }
}

.testimonial-slider {
    .swiper-button {
        transform: unset;
        top: -170px;
        left: auto;
        right: 80px;

        &.swiper-button-prev {
            right: 156px;
        }
    }

    .swiper-pagination {
        bottom: -50px;
        text-align: left;
        left: 50%;
        transform: translate(-50%, 0);
        --uc-swiper-pagination-left-spacing: 0.75rem;
    }
}

/*===== Testimonials End =====*/

/*===== Faqs Start =====*/

.main-faqs {
    padding: calc(var(--uc-spacing-y) * 1) 0 calc(var(--uc-spacing-y) * 1.5) 0;
}

.faq-box {
    position: relative;
    border-top: 1px solid var(--uc-white-light-color2);

    &:last-child {
        border-bottom: 1px solid var(--uc-white-light-color2);
    }

    h3 {
        @include transition;
        padding: 30px 60px 30px 0;
        cursor: pointer;
        margin-bottom: 0;
        font-size: 35px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: capitalize;
        position: relative;

        .plus {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            width: 50px;
            height: 50px;

            &:before {
                @include transition;
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                background: var(--uc-secondary-color);
                width: 100%;
                height: 1px;
                display: block;
            }

            &:after {
                @include transition;
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                background: var(--uc-secondary-color);
                width: 1px;
                height: 100%;
                display: block;
                transform-origin: center;
                transform: scaleY(1);
            }
        }

        &.active .plus:after {
            transform: scaleY(0);
        }

        &.active .plus:before {
            background: var(--uc-white-light-color2);
        }
    }

    .faq-content {
        padding-bottom: 30px;
    }
}

/*===== Faqs End =====*/

/*===== Pricing Plans Start =====*/

.pricing-row {
    [class*="col-"]:nth-child(1),
    [class*="col-"]:nth-child(3) {
        .pricing-box {
            transform: scale(0.95);
        }
    }

    [class*="col-"]:nth-child(1) {
        .pricing-box {
            transform-origin: left;
        }
    }

    [class*="col-"]:nth-child(3) {
        .pricing-box {
            transform-origin: right;
        }
    }

    .pricing-box {
        box-shadow: var(--uc-box-shadow);
        border: 1px solid rgba($white_color, 0.4);
        position: relative;
        padding: 50px;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .pricing-box-img {
            @include d_flex;
            width: 100px;
            height: 100px;
            margin: auto auto 40px;
            background: var(--uc-primary-color);
            color: var(--uc-white-color);

            svg {
                max-width: 60px;
                max-height: 60px;
                fill: currentColor;
            }
        }

        .pricing-box-head {
            margin-bottom: 30px;

            .h3-title {
                margin-bottom: 10px;
            }
        }

        .pricing-box-price {
            color: var(--uc-white-color);
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            .currency-before {
                font-size: 25px;
                line-height: 1.1;
                margin-top: -20px;
            }

            .price {
                font-size: clamp(60px, 4.7vw, 100px);
                line-height: 1;
                font-weight: bold;
            }

            .period {
                margin-top: 32px;
            }
        }

        .pricing-box-content {
            text-align: left;
            margin-bottom: 40px;
        }

        .pricing-box-tag {
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translate(-50%, 0);
            width: max-content;
            padding: 5px 10px;
            font-size: 18px;
            line-height: 1;
            background: var(--uc-primary-color);
            color: var(--uc-white-color);

            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translate(-50%, 0);
                border: 10px solid var(--uc-primary-color);
                border-left-color: transparent;
                border-right-color: transparent;
                border-bottom: none;
            }
        }

        &.active {
            background: rgba($white_light_color2, 0.15);
            border-color: rgba($white_color, 0.6);

            &.pricing-box-bg {
                background: rgba($secondary_color, 1);
                border-color: rgba($secondary_color, 1);
            }
        }

        &.pricing-box-bg {
            background: rgba($secondary_color, 0.9);
            border-color: rgba($secondary_color, 1);
        }
    }
}

/*===== Pricing Plans End =====*/

/*===== Blog Start =====*/

.blog-box {
    .blog-box-inner {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        background: var(--uc-white-color);

        .blog-box-meta {
            text-align: center;
            padding: 15px 10px;

            .blog-box-author {
                font-weight: bold;
                position: relative;
                display: inline-block;

                &:after {
                    content: "-";
                    padding-inline: 5px;
                }
            }

            .blog-box-date {
                display: inline-block;
                color: rgba($secondary_color, 0.7);

                a {
                    color: currentColor;

                    &:hover {
                        color: var(--uc-primary-color);
                    }
                }
            }
        }

        .blog-box-img {
            position: relative;
            height: 0;
            padding-bottom: 65%;
            overflow: hidden;

            img {
                @include transition;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transform: scale(1);
            }
        }

        .blog-box-content {
            padding: 30px 20px;

            .blog-box-category {
                display: inline-block;
                text-transform: uppercase;
                font-size: 14px;
                color: rgba($secondary_color, 0.7);
                margin-bottom: 10px;
            }

            .h4-title {
                font-family: var(--uc-primary-font-family);
                text-transform: capitalize;
                margin-bottom: 15px;

                a {
                    color: currentColor;

                    &:hover {
                        color: var(--uc-primary-color);
                    }
                }
            }

            .bottom-line-link {
                @include transition;
                position: relative;
                padding: 0 35px 1px 0;
                color: var(--uc-secondary-color);
                font-weight: bold;
                line-height: 1.8;
                display: inline-block;
                z-index: 2;

                &:before {
                    @include transition;
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: var(--uc-secondary-color);
                    z-index: -1;
                }

                &:after {
                    @include transition;
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(0, -50%);
                    background: var(--uc-secondary-color);
                    width: 25px;
                    height: 10px;
                    -webkit-mask-image: url("../images/right-arrow.svg");
                    -webkit-mask-position: center;
                    -webkit-mask-repeat: no-repeat;
                    -webkit-mask-size: 100%;
                    z-index: 1;
                }

                &:hover {
                    color: var(--uc-white-color);

                    &:before {
                        height: 100%;
                    }

                    &:after {
                        background: var(--uc-white-color);
                    }
                }
            }
        }
    }

    &:hover {
        .blog-box-img {
            img {
                transform: scale(1.03);
            }
        }
    }
}

/*===== Blog End =====*/
