$theme-colors: (
    "info": tomato,
    "danger": teal,
    "dark": rgb(28, 31, 31),
);

@import "~bootstrap/scss/bootstrap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden !important;
}
