@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

// Fonts
$primary_font: "Chakra Petch", sans-serif;

// Colors
$primary_color: #2B3956;
$secondary_color: #E8464E;
$tertiary_color: #4B7196;
$white_color: #ffffff;
$black_color: #000000;

// Transitions
$transition: 0.5s all;

// Breakpoints
$breakpoints: (
    "small": 767px,
    "medium": 992px,
    "large": 1200px,
) !default;
