@import "variables";
@import "mixins";

.main_header {
    height: 100px;
    background: $secondary_color;
    position: relative;

    @include media_screen($media_size: 991px) {
        height: 80px;
    }

    .container {
        height: 100%;

        @include media_screen($media_size: 991px) {
            max-width: 100%;
        }

        .row {
            height: 100%;

            [class*="col-"] {
                height: 100%;
            }
        }
    }

    .site_logo {
        @include media_screen($media_size: 991px) {
            padding-left: 15px;
        }

        a {
            width: 100px;
        }
    }
}

.site_navigation {
    height: 100%;
    @include d_flex($justify: flex-end);

    .main_nav {
        height: 100%;
        flex: 1;

        nav {
            height: 100%;

            @include media_screen($media_size: 991px) {
                @include position($position: fixed, $translate_x: 0, $translate_y: 0, $z_index: 99);
                @include w_h($width: 100vw, $height: 100vh);
                background-color: $secondary_color;
                display: none;
                padding-top: 12vh;

                &.active {
                    display: block;
                }
            }

            ul {
                height: 100%;
                flex-direction: column;
            }
        }
    }

    .social {
        @include media_screen($media_size: 991px) {
            display: none;
        }
    }
}
